<!DOCTYPE html>
<html>
<head>
    <title>JobFlow</title>
</head>
<body>

    <h1>Job Applications</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Company</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.company_name }}</td>
                <td>{{ job.job_role }}</td>
                <td>{{ job.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>