{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>JobFlow</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>Job Applications</h1>

    <h2>Add New Job</h2>

    <form id="jobForm">
        <input type="text" id="company_name" placeholder="Company Name" required><br><br>
        <input type="text" id="job_role" placeholder="Job Role" required><br><br>
        <input type="date" id="application_date" required><br><br>

        <select id="status">
            <option value="Applied">Applied</option>
            <option value="Interview">Interview</option>
            <option value="Rejected">Rejected</option>
            <option value="Offer">Offer</option>
        </select><br><br>

        <textarea id="notes" placeholder="Notes"></textarea><br><br>

        <button type="submit">Add Job</button>
    </form>

    <hr>

    <h2>All Applications</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Company</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="jobTableBody">
        </tbody>
    </table>

    <script>
        function getCookie(name) {

            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {

                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {

                    const cookie = cookies[i].trim();

                    if (cookie.substring(0, name.length + 1) === (name + '=')) {

                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

                        break;
                    }
                }
            }

            return cookieValue;
        }
        document.getElementById('jobForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const data = {
                company_name: document.getElementById('company_name').value,
                job_role: document.getElementById('job_role').value,
                application_date: document.getElementById('application_date').value,
                status: document.getElementById('status').value,
                notes: document.getElementById('notes').value
            };
            fetch('api/jobs/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    alert("Job added succesfully!");
                    location.reload();
                })
                .catch(error => console.error('Error:', error));
        })
        function loadJobs() {
            fetch('/api/jobs/')
                .then(response => response.json())

                .then(data => {

                    console.log(data);

                    const tableBody = document.getElementById('jobTableBody');

                    tableBody.innerHTML = '';

                    data.forEach(job => {

                        const row = `
                    <tr>
                        <td>${job.company_name}</td>
                        <td>${job.job_role}</td>
                        <td>${job.status}</td>
                        <td>
                            <a href="/edit/${job.id}/">Edit</a>
                            |
                            <button onclick="deleteJob(${job.id})">Delete</button>
                        </td>
                    </tr>
                `;

                        tableBody.innerHTML += row;
                    });

                })

                .catch(error => console.error('Error:', error));
        }
        function deleteJob(id) {
            console.log("Delete clicked", id);

            const confirmDelete = confirm("Are you sure you want to delete this job?");

            if (!confirmDelete) {
                return;
            }

            fetch(`/api/jobs/${id}/`, {
                method: 'DELETE',

                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })

                .then(response => {

                    if (response.ok) {

                        alert("Job deleted successfully!");

                        loadJobs();

                    } else {

                        alert("Delete failed");
                    }
                })

                .catch(error => {

                    console.error('Error:', error);

                });
        }
        loadJobs();
    </script>
</body>

</html>