{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>JobFlow</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <h1>Job Applications</h1>

    <h2>Add New Job</h2>

    <form id="jobForm">
        <input type="text" id="company_name" placeholder="Company Name" required><br><br>
        <input type="text" id="job_role" placeholder="Job Role" required><br><br>
        <input type="date" id="application_date" required><br><br>
        
        <select id="status">
            <option value="Applied">Applied</option>
            <option value="Interview">Interview</option>
            <option value="Rejected">Rejected</option>
            <option value="Offer">Offer</option>
        </select><br><br>

        <textarea id="notes" placeholder="Notes"></textarea><br><br>

        <button type="submit">Add Job</button>
    </form>

    <hr>

    <h2>All Applications</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Company</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.company_name }}</td>
                <td>{{ job.job_role }}</td>
                <td>{{ job.status }}</td>
                <td>
                    <a href="{% url 'edit_job' job.id %}">Edit</a>
                    <a href="{% url 'delete_job' job.id %}" onclick="return confirm('Are you sure you want to delete')">
    Delete
</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
document.getElementById('jobForm').addEventListener('submit', function(e) {
    e.preventDefault();

    const data = {
        company_name: document.getElementById('company_name').value,
        job_role: document.getElementById('job_role').value,
        application_date: document.getElementById('application_date').value,
        status: document.getElementById('status').value,
        notes: document.getElementById('notes').value
    };
    fetch('api/jobs/',{
        method: 'POST',
        headers: {
            'content-Type':'application/json',
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        alert("Job added succesfully!");
        location.reload();
    })
    .catch(error => console.error('Error:' error));
})
</script>
</body>
</html>