body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding:20px;

}

h1, h2 {
    text-align: center;
}

form {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 30px;
    margin:auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}